* {
  box-sizing: border-box; }

a {
  color: #FF1644;
  text-decoration: none; }

h1, h2, h3, h4, .article--details {
  font-family: 'Roboto';
  font-weight: 400;
  color: #000; }

body {
  font-family: 'Open Sans', sans-serif; }

p {
  line-height: 1.8;
  color: #33393f;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px; }

figure {
  margin: 20px 0; }

figcaption {
  font-style: italic;
  font-size: 16px;
  color: #4A4A4A;
  padding-top: 8px; }

article > section {
  margin: 50px 0; }

.annotation {
  color: #E82C0C; }

h2 {
  font-size: 28px;
  margin-top: 14px;
  margin-bottom: 14px; }

h3 {
  font-size: 22px;
  margin-bottom: 18px;
  margin-top: 4px; }

h4 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 500; }

hr {
  border-top: 1px dotted #8c8b8b; }

.article--body {
  width: 700px;
  margin: 0 auto; }

.article--container {
  margin-top: 100px; }

.article--details {
  padding: 15px 20px;
  background-color: #FFF1F6;
  margin-top: 125px;
  border-radius: 2px; }

.article--details dt {
  color: #FF1644;
  font-size: 15px; }

.article--details dl {
  margin: 0; }

.article--nav ul {
  list-style-type: none;
  margin: 0 10px;
  font-size: 18px;
  font-family: Roboato;
  line-height: 1.5;
  text-transform: uppercase;
  position: fixed; }

.article--title {
  margin-top: 0;
  font-size: 58px; }

.fa-check-circle {
  color: #1d9d74; }

.fa-question-circle {
  color: #EBAD3D; }

.divider {
  height: 3px;
  width: 80px;
  background: #FF1644;
  display: block;
  margin-left: 1px; }

.sub-section-name {
  font-size: 16px;
  color: #FF1644; }

.inline_bold {
  font-weight: 500;
  font-size: 18px;
  color: #FF1644; }

article section {
  margin-bottom: 40px; }

dd {
  margin-inline-start: 0;
  margin-bottom: 20px; }

dd:last-child {
  margin-bottom: 0; }

img {
  display: block;
  width: 700px; }

.break-out {
  width: min-content;
  margin-left: calc((700px - 1042px) / 2); }

.break-out_w1142 {
  width: min-content;
  margin-left: calc((700px - 1142px) / 2); }

.break-out_w395 {
  width: min-content;
  margin-left: calc((700px - 395px) / 2); }

.break-out img {
  display: block;
  width: auto; }

.break-out_w1142 img {
  display: block;
  width: auto; }

.break-out_w395 img {
  display: block;
  width: auto; }

.restyle-list {
  list-style: none;
  line-height: 2; }

.col_50 {
  display: inline-block;
  width: 50%;
  border: black 1px solid; }
